# Credenciais de banco de dados
DATABASE_URL=jdbc:mysql://localhost:3306/moveon
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Credenciais de usuario aws
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# Credenciais de bucket s3 da base de dados
AWS_BUCKET_NAME=
AWS_BUCKET_KEY_OBJECT=